[Unit]
Description=http-start
Wants=network-online.target
After=network-online.target
 
[Service]
ExecStart=/home/pi/http.sh
User=pi
 
[Install]
WantedBy=multi-user.target